<h1>Editing user branch</h1>

<%= render "form", user_branch: @user_branch %>

<br>

<div>
  <%= link_to "Show this user branch", @user_branch %> |
  <%= link_to "Back to user branches", user_branches_path %>
</div>
