<p style="color: green"><%= notice %></p>

<h1>User branches</h1>

<div id="user_branches">
  <% @user_branches.each do |user_branch| %>
    <%= render user_branch %>
    <p>
      <%= link_to "Show this user branch", user_branch %>
    </p>
  <% end %>
</div>

<%= link_to "New user branch", new_user_branch_path %>
