<h1>Editing branch blood</h1>

<%= render "form", branch_blood: @branch_blood %>

<br>

<div>
  <%= link_to "Show this branch blood", @branch_blood %> |
  <%= link_to "Back to branch bloods", branch_bloods_path %>
</div>
