<h1>Editing requester</h1>

<%= render "form", requester: @requester %>

<br>

<div>
  <%= link_to "Show this requester", @requester %> |
  <%= link_to "Back to requesters", requesters_path %>
</div>
